<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.label :course_id %><br />
    <%= f.collection_select :course_id, Course.all, :id, :name %>
  </p>

  <p>
    <%= f.label :role %><br />
    <%= f.collection_select :role, Role.all, :id, :name %>
  </p>
  <p><%= f.submit %></p>
<% end %>

<!-- drop box to select type of user but then only -->

<!-- look at lesson notes on how to keep user email/password details secure -->

:name, :email, :password, :password_confirmation, :role, :course_id