<%= search_form_for @q do |f| %>
  
  <p>
    <%= f.condition_fields do |c| %>
    <div class='field'>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select attributes: [:name] %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
    </div>
  </p>

  <%= f.submit class: 'button' %>

<% end %>


<table>
  <tr>
    <%= content_tag :th, sort_link(@q, :name) %>
    <%= content_tag :th, sort_link(@q, :role) %>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.role %></td>
      <td><%= link_to "Show", user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Delete", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create User", new_user_path %></p>