<%= search_form_for @search do |f| %>
  <div class='field'>
    <%= f.label :name_cont, "Name" %>
    <%= f.text_field :name_cont, :placeholder => "Find a user" %>
    <%= f.submit class: 'button' %>
  </div>
    <p></p>
<% end %>
  
<table>
  <tr>
    <%= content_tag :th, sort_link(@search, :name) %>
    <%= content_tag :th, sort_link(@search, :role) %>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to(user.name, user) %></td>
      <td><%= user.role %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Delete", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Create User", new_user_path %></p>