<%= form_for @room do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :campus_id %><br />
    <%= f.collection_select :campus_id, Campus.all, :id, :name %>
  </p>

  <p><%= f.submit class: 'button' %></p>
<% end %>
