<%= form_for @campus do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :google_map_source %><br />
    <%= f.text_field :google_map_source %>
  </p>
  <p><%= f.submit %></p>
<% end %>
