<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for campus in @campuses %>
    <tr>
      <td><%= campus.name %></td>
      <td><%= link_to "Show", campus %></td>
      <td><%= link_to "Edit", edit_campus_path(campus) %></td>
      <td><%= link_to "Destroy", campus, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Campus", new_campus_path %></p>

<%= link_to "Homepage", homepage_index_path %>
