<p>
  <strong>Name:</strong>
  <%= @campus.name %>
</p>

<p>
  <strong>Location:</strong>
    <iframe src=<%= @campus.google_map_source %> width="300" height="300" frameborder="0" style="border:0"></iframe>
</p>

<p>
  <strong>Courses running at this campus:</strong>
  <% @campus.courses.each do |course| %>

    <p><%= course.name %></p>
    <p><%= course.room.name %></p>

    <% end %>
</p>

<p>
  <strong>Students at this campus:</strong>
  <% @campus.users.each do |user| %>

    <p><%= user.name %></p>

    <% end %>
</p>



<p>
  <%= link_to "Edit", edit_campus_path(@campus) %> |
  <%= link_to "Destroy", @campus, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", campuses_path %>
</p>
