<p>
  <strong>Name:</strong>
  <%= @campus.name %>
</p>

<% if @campus.google_map_source %>
  <p>
    <strong>Location:</strong><br />
      <iframe src=<%= @campus.google_map_source %> width="500" height="500" frameborder="0" style="border:0"></iframe>
  </p>
<% end %>

<p>
  <strong>Courses running at this campus:</strong>
    <table>
      <tr>
        <th>Course</th>
          <% @campus.courses.each do |course| %>
      </tr>
      <tr>
        <td><%= link_to(course.name, course) %></td>
          <% if current_user %>
            <td><%= course.room.name %></td>
          <% end %>
      </tr>
    <% end %>
  </table>
</p>

<p>
  <strong>Instructors:</strong>
    <table>
      <tr>
        <% @instructors.each do |instructor| %>
      </tr>
      <tr>
        <td><%= link_to(instructor.name, instructor) %></td>
      </tr>  
    <% end %>
  </table>
</p>

<% if current_user %>
  <% if current_user.role == 'admin' || current_user.role == 'instructor' %>
    <p>
      <strong>Students on this course:</strong><br />
      <% @students.each do |student| %>

        <%= link_to(student.name, student) %><br />

      <% end %>
    </p>
  <% end %>
<% end %>

<% if current_user %>
  <% if current_user.role == 'admin' || current_user.role == 'instructor' %>

    <p>
      <%= link_to "Edit", edit_campus_path(@campus) %> |
      <%= link_to "Delete", @campus, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to "View All", campuses_path %> |
      <%= link_to "Campus Rooms", rooms_path %>
    </p>

  <% end %>
<% end %>

