<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Room:</strong>
  <%= @course.room.name %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @course.start_details.strftime('%a, %-d %b %Y') %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @course.end_details.strftime('%a, %-d %b %Y') %>
</p>

<p>
  <strong>Current users on this course:</strong>
  <% @course.users.each do |user| %>

    <%= user.name %>

  <% end %>
</p>

<!-- some code to only show all users on current course if user is instructor or admin? -->
<!-- some code to show instructors on course? -->

<p>
  <%= link_to "Edit", edit_course_path(@course) %> |
  <%= link_to "Destroy", @course, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", courses_path %>
</p>
