<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
   <%= @course.description %>
</p>

<p>
  <strong>Room:</strong>
  <%= @course.room.name %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @course.start_details.strftime('%a, %-d %b %Y') %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @course.end_details.strftime('%a, %-d %b %Y') %>
</p>

<p>
  <strong>Instructors:</strong><br />
  <% @instructors.each do |instructor| %>
    
    <%= link_to(instructor.name, instructor) %><br />

  <% end %>
</p>

<% if current_user %>
  <% if current_user.role == 'admin' || current_user.role == 'instructor' %>
    <p>
      <strong>Students on this course:</strong>
      <br />
      <% @students.each do |student| %>
        <%= link_to(student.name, student) %>
        <br />
      <% end %>
    </p>
  <% end %>
<% end %>
