<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Room:</strong>
  <%= @course.room.name %>
</p>

<p>
  <strong>Starts:</strong>
  <%= @course.start_details.strftime('%a, %-d %b %Y') %>
</p>

<p>
  <strong>Ends:</strong>
  <%= @course.end_details.strftime('%a, %-d %b %Y') %>
</p>

<p>
  <strong>Instructors:</strong>
  <% @instructors.each do |instructor| %>
    
    <%= instructor.name %>

  <% end %>
</p>

<% if current_user.role == 'admin' || current_user.role == 'instructor' %>
  <p>
    <strong>Students on this course:</strong>
    <% @students.each do |student| %>

      <%= student.name %>

    <% end %>
  </p>
<% end %>

