<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <title>GaSchedulerApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">

    <header>
      <div class="headerclass">General</div>
      <div class="headerclass"><img src="/assets/galogo.jpeg", width="50"></div>
      <div class="headerclass">Assembly</div>
    </header>

    <div id="content">

        <% if current_user %>
         <p> hello, <%= current_user.email %> </p>
         <%= link_to 'Logout', logout_path(session), method: :delete, data: {confirm: 'Are you sure?'} %>
        <% else %>
         <%= link_to 'Please login', login_path %>
        <% end %>

        <div id="container">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>

      <%= yield %>

      </div>

    </div>

    <div id="push"></div>

    <div id="footer">
        <ul>
          <li><%= link_to image_tag("1406768127_Facebook.png", :width =>"40"), "https://www.facebook.com/gnrlassembly" %></li>
          <li><%= link_to image_tag("1406768136_Twitter.png", :width =>"40"), "https://twitter.com/GA_London" %></li>
          <li><%= link_to image_tag("1406768149_LinkedIn.png", :width =>"40"), "https://www.linkedin.com/company/2408664" %></li>
        </ul>
    </div>

  </div>

</body>
</html>

<!-- have nav bar on every page -->
